<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
</head>
<body>
<h1>Signup Now!</h1>
<header th:insert="/fragments/nav :: nav-bar"></header>
<!--inserts the fragment into the header-->
<form action="/codeuser" method="post">
    <label for="username">username</label>
    <input type="text" name="username" required>

    <label for="password">password</label>
    <input type="password" name="password" required>

    <label for="firstName">First Name</label>
    <input type="text" name="firstName" required>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" required>
    <label for="dateOfBirth">dateOfBirth</label>
    <input type="text" name="dateOfBirth" required>
    <label for="bio">bio</label>
    <input type="text" name="bio" required>


    <input type="submit" value="signup">
</body>
</html>